/* クイズ班メインページのためのstylesheet */

/* ブラウザが勝手につける余白のリセット */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
  padding-top: 80px;
}

/* 箇条書きの点を消している */
li {
  list-style: none;
}

header {
  /*green*/
  /*background-color: #43ff6b;*/
  /*blue*/
  /*background-color: #ceccf3;*/
  /*white*/
  /*background-color: #ffffff;*/
  /*background-color: #008080;*/
  /*background-color: #5f9ea0;*/
  /*
  background-color: #20b2aa;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  */
  top:0px;
  background-color: #20b2aa;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  /*要素が重なるときに使うもの*/
  /*z-index: 99;*/
}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  float: left;
  /* 余白の大きさを指定（上、右、下、左）） */
  padding: 20px 40px 20px 40px;
}
/*
.header-list a {
  float: right;
  padding: 15px;
  color: #000000;
  text-decoration: none;
}
*/

.header-nav {
  text-align: center;
}

.header-nav-menu {
  margin: 0 auto;
  padding: 10%;
  display: inline-block;
}

.header-nav-menu-item {
  text-align: center;
  width: 100%; /* ここで項目の幅を指定 */
  display: inline-block;
}

.header-nav-menu-item a {
    text-decoration: none;
    color: #333;
}

.header-nav-menu-item a:hover{
    border-bottom: 2px solid #FF7A37; /* 下線の太さや色を指定します */
}

.main {
  /*max-width: 620px;
  margin: 0 auto;*/
  width: 100%;
  box-sizing: border-box;
  /*blue*/
  /*background-color: #c2eeff;*/
  /*gray*/
  background-color: #e6e6fa;
  padding: 40px 20%;
}

.main-title {
  /*max-width: 620px;
  margin: 0 auto;*/
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  /* font-weight: bolder; */
}

.main-description {
  font-size: 19px;
}

.main-description strong{
  color: red;
}

.main-mokuji {
  font-size: 19px;
  display: inline-block;
  margin: 2em auto;
  padding: 1rem;
  background-color: #f2f2f2; /* 背景色 */
  box-shadow: 0 0 5px 1px #ccc; /* 影 */
}

.main-mokuji ul {
  margin-left: 1rem;
  text-indent: -1rem;
}

.heading-1 {
  display: inline-block;
  font-size: 25px;
  font-weight: 900;
  color: #0000ff;
  padding: .25em 0 .10em .75em;
  border-left: 8px solid #008b8b;
  /*border-bottom: 1px solid #008000;*/
  border-top: 1px solid #008b8b;
}

.heading-2 {
  display: inline-block;
  font-size: 22px;
  font-weight: 900;
  color: #0000ff;
  padding: .25em 0 .10em .75em;
  border-left: 8px solid #008b8b;
}

.heading-3 {
  font-size: 19px;
  font-weight: 800;
  text-decoration: underline;
}

.main-aboutVirus {
  font-size: 19px;
}

.main-securitySoftQuiz {
  font-size: 19px;
}

.a_buttons_parent {
  text-align: center;
}

.a_button {
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  border: 1px;
  background: #5e5;;
  color: #fff;
  box-shadow: 0px 2px 4px #575;
  transition: box-shadow .3s;
}

.a_button:hover {
  box-shadow: 0px 4px 8px #575;
}

.footer {
  /*background-color: #008080;*/
  /*background-color: #5f9ea0;*/
  background-color: #20b2aa;
  color: #ffffff;
  height: 70px;
  text-align: center;
  padding: 50px;
}
